body{
    margin: 0px;
    padding: 0px;
}

form{
    border: 1px solid;
    width: 40%;
    padding: 50px;
    margin-top: 250px;
    margin-left: 400px;
}

input{
    width: 300px;
    height: 40px;
}

.pan button{
    width: 100px;
    height: 40px;
    background-color: rgb(29, 178, 49);
    border: 1px solid rgb(29, 178, 49);
    border-radius: 10px;
    color: white;
    margin-left: 150px;
}

.pan button:hover{
    background-color: rgb(18, 92, 18);
    border: 1px solid rgb(18, 92, 18);
}